@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
}

.app {
  min-height: 98.5vh;
  border: 8px solid #01bf71;
  margin: 5px;
  padding: 5px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #01bf71;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41);
  border: 30px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::selection {
  background: #01bf71;
  color: #fff;
}
